<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
      <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>daily breadk</title>
</head>
<body class="">

 <% include contents.ejs %>    
<div class="animate-in">
	<div class="deleted">
		<p> Recipe deleted! </p>
	</div>
</div>

</body>
</html>