<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>daily bread</title>
</head>
<body class="animate-in home">
	<header id="header">
        <div class="header-text">
           <h1> daily bread </h1>
			<h2> Welcome! </h2>
  			<!--login-->
 			 <button onclick="showLogin()" class="btn" type="submit">login</button>


        <!--register user-->
       <button onclick="showRegister()" class = "btn" type="submit">register</button>

      <div class="form">  </div>
		</div>
 	</header>
<script src="/js/zenscroll-min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
