<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
     <!-- <script src="https://use.fontawesome.com/d853a9d575.js"></script>-->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">-->
  <title>CookBook</title>
</head>
<body class="animate-in home">
	<header id="header">
        <div class="header-text">
           <h1> Cookbook </h1>
			<h2> Welcome! </h2>
  			<!--login-->
 			 <button onclick="showLogin()" class="btn" type="submit">login</button>


        <!--register user-->
       <button onclick="showRegister()" class = "btn" type="submit">register</button>

      <div class="form">  </div>
		</div>
 	</header>
<script src="/js/zenscroll-min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
