<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CookBook</title>
    <script src="https://use.fontawesome.com/d853a9d575.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
  <link rel="stylesheet" type = "text/css" href="/css/style.css">
</head>
<body class="animate-in newrecipeindex">



   <!--form to add a recipe-->
  <form class = "newForm" action = "/recipe" method = "POST" enctype="multipart/form-data">
 <!-- <form class="newForm">-->
  Recipe Name: 
  <input type="text" placeholder="recipe name" name="recipe" required><br>

  Description:<br>
  <textarea name="description" rows="10"></textarea><br>
<!--   <input type="text" placeholder="Type description here!" name="description" required><br> -->
  Recipe Category:
	<select name="Category">
  		<option value="Cookies">Cookies</option>
  		<option value="Cakes">Cakes</option>
 	 	<option value="Pies">Pies</option>
  		<option value="Breads">Breads</option>
	</select><br>
	Serving Size: 
	<input type="text" placeholder="4" name="servingsize" required><br>
  Prep Time:   
  <input type="text" placeholder="30 minutes" name="preptime" required><br>
  Cook Time:   
  <input type="text" placeholder="1 hour" name="cooktime" required> <br>
	Ingredients: <br>
	<div class="ingredients">
		<button type="button" id="add-ingredient">+</button><br>
    <input type="text" placeholder="1 cup ingredient" name="ingredient" required><br>
  
	</div>
	Directions: <br>
	<div class="directions">
		<button type="button" id="add-step">+</button><br>
    <span> 1 </span><input type="text" placeholder="step" name="step" ><br>
	</div>


      Image: 
  <input type="file" name="pic" accept="image/*" required/><br>

  <button onclick = "addnew()" type="submit" id = "submitRecipe">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
