<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>CookBook</title>
</head>
<body class="index">

 <% include contents.ejs %>    
<div class = "viewportnew animate-in">
	<h1 class = "newRecipe"> Add a New Recipe </h1>
	<div class="newrecipe">
	<% include index.html %>
	</div>


<div id = "newrecipeview">    
 </div>
</div>

</body>
</html>