
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
    <script src="https://use.fontawesome.com/d853a9d575.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
</head>
<body>
<h1>Login</h1>
<form action="/login" method="POST">
  <p>Username<br>
  <input type="text" name="username" required></p>
  <p>Password<br>
  <input type="password" name="password" required></p>
<button type="submit" id = "submitRecipe">Submit</button>
</form>
<script src="/js/zenscroll-min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>