<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
     <link rel="stylesheet" type = "text/css" href="/css/style.css">
</head>
<body class="home">

<h2>Register</h2>
<!--<form action = '/register' method="POST">-->
<form action = '/register' method="POST">
  <p>Username<br>
  <input type="text" name="username" required></p>
  <p>Password<br>
  <input type="password" name="password" required></p>
<button type="submit" class="btn">Submit</button>
</form>
<script src="/js/zenscroll-min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>